.persona {
  width: 80%;
  align-self: center;
  padding: 50px 0;
  &:hover {
    transform: scale(1.2);
    transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }
}
li {
  margin: 1em 0;
}

.stars {
  justify-content: center;
  display: flex;
  .star {
    width: 4rem;
  }
}
.response {
  font-weight: 200;
  font-size: 22px;
  color: #6c6c6c;
  padding: 0 300px 1rem;
  text-align: left;
  margin: 0 !important;
  li {
    margin: 1em 0;
  }
}
.image-text-horizontal {
  display: flex;
  flex-direction: row;
  padding: 0 300px;
  align-items: center;
  .magic-wand {
    height: 150px;
    margin: 0 20px 30px 0;
  }
  .text-i {
    font-size: 25px;
    color: #6c6c6c;
    text-align: left;
    margin: 20px 0;
  }
}

@media (min-device-width: 1024.5px) {
  .persona {
    width: 600px ;
  }
}

@media screen and (min-device-width: 900px) and (max-device-width: 1000px) {
  .response {
    font-size: 22px;
    padding: 0 120px;
    
  }
  .subtitle2 {
    padding: 0 120px;
  }
}
@media screen and (min-device-width: 600px) and (max-device-width: 700px) {
  .persona {
    widows: 420px !important;
  }
}
@media screen and (min-device-width: 400px) and (max-device-width: 600px) {
  .persona {
    width: 75%;
    padding: 0;
  }
}
@media screen and (min-device-width: 319.5px) and (max-device-width: 400px) {
  .persona {
    padding: 1rem 0;
    width: 75%;
  }
}
