.body {
  .banner {
    width: 90%;
    left: 76px;
    top: 170px;
    align-self: center;
    margin-bottom: 150px;
  }
  .cs-title {
    color: #0b7881;
    width: 60%;
    align-self: center;
    font-family: "Halant" !important;
    font-weight: 600;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .cs-subtitle {
    color: #777777;
    font-family: "Halant" !important;
    font-weight: 600;
    font-size: 26px;
    width: 60%;
    align-self: center;
    margin-top: 50px;
  }
  .cs-paragraph {
    font-family: "Nunito" !important;
    color: #777777;
    font-weight: 300;
    align-self: center;
    font-size: 22px;
    width: 60%;
    white-space: pre-wrap;
    .emphasis-bold {
      font-weight: 600;
      color: #777777;
      text-decoration: none;
      cursor: default;
    }
  }
  .cs-paragraph-q {
    font-family: "Nunito" !important;
    color: #777777;
    font-weight: 300;
    align-self: center;
    font-size: 22px;
    width: 60%;
    white-space: pre-wrap;
    margin: 50px 0 0;
  }
  .emphasis-bold {
    font-weight: 700;
    color: #777777;
  }
  .emphasis {
    color: #2eaf96;
    font-weight: 500;
    font-size: 24px;
    width: 50%;
    align-self: center;
    margin: 50px 0;
    text-decoration: none;
    cursor: default;
  }
  .quote {
    color: #777777;
    font-family: "Halant" !important;
    font-weight: 500;
    font-size: 24px;
    width: 50%;
    align-self: center;
    text-align: center;
    margin: 100px 0;
  }
  .quote-response {
    color: #777777;
    font-family: "Halant" !important;
    font-weight: 500;
    font-size: 20px;
    width: 50%;
    align-self: center;
    text-align: left;
    margin: 20px 0 0;
  }
  .design-process {
    width: 60%;
    align-self: center;
    margin: 0 0 100px 0;
  }
  .cs-image {
    width: 600px;
    align-self: center;
    margin: 50px 0;
  }
  .cs-image-b {
    width: 300px;
    align-self: center;
    margin: 50px 0;
  }
  .list-bullet {
    color: #777777;
    font-family: "Halant" !important;
    font-weight: 500;
    font-size: 24px;
    width: 50%;
    align-self: center;
  }
  .stars {
    margin: 20px 0 50px;
    .star {
      width: 2rem;
    }
  }
}
@media screen and (min-device-width: 900px) and (max-device-width: 1000px) {
  .body .cs-image {
    width: 500px;
  }
}
  @media screen and (min-device-width: 800px) and (max-device-width: 900px) {
    .body {
      .banner {
        width: 70%;
      }
      .cs-image {
        width: 450px;
      }
    }
  }

  @media screen and (min-device-width: 700px) and (max-device-width: 800px) {
    .body {
      .banner {
        width: 70%;
      }
      .cs-image {
        width: 400px;
      }
      .list-bullet {
        width: 65%;
      }
    }
  }

  @media screen and (min-device-width: 600px) and (max-device-width: 700px) {
    .body {
      .cs-image {
        width: 350px;
      }
      .list-bullet {
        width: 70%;
      }
    }
  }

  @media screen and (min-device-width: 500px) and (max-device-width: 600px) {
    .body {
      .cs-image {
        width: 300px;
      }
      .list-bullet {
        width: 75%;
      }
    }
  }

  @media screen and (min-device-width: 400px) and (max-device-width: 500px) {
    .body {
      .cs-image {
        width: 300px;
      }
      .design-process {
        margin: 0 0 20px 0;
      }
      .list-bullet {
        width: 75%;
        font-size: 16px;
      }
      .cs-title {
        font-size: 22px;
        margin-bottom: 10px;
      }
      .cs-subtitle {
        font-size: 20px;
      }
      .cs-paragraph {
        font-size: 16px;
      }
      .cs-paragraph-q {
        font-size: 16px;
      }
      .quote {
        font-size: 20px;
      }
      .quote-response {
        font-size: 16px;
      }
      .emphasis {
        font-size: 16px;
      }
      .emphasis-bold {
        font-size: 16px;
      }
    }
  }

  @media screen and (min-device-width: 319.5px) and (max-device-width: 400px) {
    .body {
      .banner {
        margin-bottom: 0;
      }
      .cs-image {
        width: 250px;
      }
      .design-process {
        margin: 0 0 20px 0;
      }
      .list-bullet {
        width: 75%;
        font-size: 16px;
      }
      .cs-title {
        font-size: 22px;
        margin-bottom: 10px;
      }
      .cs-subtitle {
        font-size: 20px;
      }
      .cs-paragraph {
        font-size: 16px;
      }
      .cs-paragraph-q {
        font-size: 16px;
      }
      .quote {
        font-size: 20px;
      }
      .quote-response {
        font-size: 16px;
      }
      .emphasis {
        font-size: 16px;
      }
      .emphasis-bold {
        font-size: 16px;
      }
    }
  }

