.body {
  .banner {
    width: 90%;
    left: 76px;
    top: 170px;
    align-self: center;
    margin-bottom: 150px;
  }
  .cs-title {
    color: #0b7881;
    width: 60%;
    align-self: center;
    font-family: "Halant" !important;
    font-weight: 600;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .cs-subtitle {
    color: #777777;
    font-family: "Halant" !important;
    font-weight: 600;
    font-size: 26px;
    width: 60%;
    align-self: center;
    margin-top: 50px;
  }
  .cs-paragraph {
    font-family: "Nunito" !important;
    color: #777777;
    font-weight: 300;
    align-self: center;
    font-size: 22px;
    width: 60%;
    white-space: pre-wrap;
    .emphasis-bold {
      font-weight: 600;
      color: #777777;
      text-decoration: none;
      cursor: default;
    }
  }
  .cs-paragraph-q {
    font-family: "Nunito" !important;
    color: #777777;
    font-weight: 300;
    align-self: center;
    font-size: 22px;
    width: 60%;
    white-space: pre-wrap;
    margin: 50px 0 0;
  }
  .emphasis-bold {
    font-weight: 700;
    color: #777777;
  }
  .emphasis {
    color: #2eaf96;
    font-weight: 500;
    font-size: 24px;
    width: 50%;
    align-self: center;
    margin: 50px 0;
    text-decoration: none;
    cursor: default;
  }
  .quote {
    color: #777777;
    font-family: "Halant" !important;
    font-weight: 500;
    font-size: 24px;
    width: 50%;
    align-self: center;
    text-align: center;
    margin: 100px 0;
  }
  .quote-response {
    color: #777777;
    font-family: "Halant" !important;
    font-weight: 500;
    font-size: 20px;
    width: 50%;
    align-self: center;
    text-align: left;
    margin: 20px 0 0;
  }
  .design-process {
    width: 60%;
    align-self: center;
    margin: 0 0 100px 0;
  }
  .cs-image {
    width: 600px;
    align-self: center;
    margin: 50px 0;
  }
  .list-bullet {
    color: #777777;
    font-family: "Halant" !important;
    font-weight: 500;
    font-size: 24px;
    width: 50%;
    align-self: center;
  }
  .stars {
    margin: 20px 0 50px;
    .star {
      width: 2rem;
    }
  }
}

@media screen and (min-device-width: 1500px) and (max-device-width: 1600px) {
}
@media screen and (min-device-width: 1100px) and (max-device-width: 1500px) {
}
@media screen and (min-device-width: 1000px) and (max-device-width: 1100px) {
  .body {
    .pad-container {
      padding: 0 200px;
      margin-top: 30px;
    }
    .section-title-a {
      padding: 50px 200px 20px;
    }
    .text-e {
      padding: 0 200px;
    }
    .image-text {
      padding: 0 200px 40px;
    }
    .text-column-p {
      padding: 0 200px;
    }
    .text-app-description {
      padding: 0 200px;
    }
    .personas {
      padding: 0 200px;
      .persona {
        width: 500px;
      }
    }
    .response {
      padding: 0 200px;
    }
    .subtitle2 {
      padding: 0 200px;
    }
    .image-text-horizontal {
      padding: 0 200px;
    }
    .stars {
      star {
        width: 3rem;
      }
    }
    .quote p {
      padding: 0px 30%;
    }
  }
}
@media screen and (min-device-width: 900px) and (max-device-width: 1000px) {
  .body {
    .pad-container {
      padding: 0 150px;
      margin-top: 30px;
    }
    .title-name {
      font-size: 55px;
    }
    .title-alternative {
      font-size: 45px;
    }
    .text-e {
      padding: 0 150px;
      font-size: 20px;
    }
    .image-text {
      padding: 0 150px 40px;
      .guidance {
        width: 300px;
        height: 100px;
      }
    }
    .text-column-p {
      padding: 0 150px;
    }
    .text-column {
      font-size: 20px;
    }
    .response {
      font-size: 20px;
      padding: 0 150px;
    }
    .text-app-description {
      padding: 0 150px;
      font-size: 25px;
    }
    .personas {
      padding: 0 150px;
      .persona {
        width: 500px;
      }
    }
    .story-board {
      width: 500px;
    }
    .card-sort {
      width: 500px;
    }
    .image-text-horizontal {
      padding: 0 150px 0;
      .text-i {
        font-size: 20px;
      }
    }
    .section-title-a {
      padding: 50px 150px 0;
      font-size: 30px;
    }
    .section-title {
      font-size: 24px;
    }
    .subtitle2 {
      font-size: 20px;
    }
    .quote {
      font-size: 20px;
    }
  }
}

@media screen and (min-device-width: 800px) and (max-device-width: 900px) {
  .body {
    .pad-container {
      padding: 0 120px;
      margin-top: 30px;
    }
    .section-title {
      font-size: 24px;
    }
    .section-title-a {
      padding: 30px 120px 20px;
      font-size: 34px;
    }
    .title-alternative {
      font-size: 40px;
    }
    .text-e {
      padding: 0 120px;
      font-size: 20px;
    }
    .response {
      padding: 0 120px;
      font-size: 20px;
    }
    .image-text {
      padding: 0 120px 40px;
    }
    .text-column-p {
      padding: 0 120px;
    }
    .text-app-description {
      padding: 0 120px;
      font-size: 25px;
    }
    .guidance {
      padding: 3rem 120px;
      height: 140px;
    }
    .personas {
      padding: 0 120px;
      .persona {
        width: 480px !important;
      }
      .cont {
        font-size: 18px;
      }
    }
    .story-board {
      width: 480px !important;
    }
    .card-sort {
      width: 480px !important;
    }

    .quote {
      height: 240px;
      font-size: 16px;
    }
    .subtitle2 {
      padding: 0 120px;
      font-size: 20px;
    }
    .line {
      padding: 0;
    }
    .image-text-horizontal {
      padding: 0 120px;
      .text-i {
        font-size: 22px;
        color: #6c6c6c;
        text-align: justify;
        margin: 20px 0;
      }
    }
  }
}

@media screen and (min-device-width: 700px) and (max-device-width: 800px) {
  .body {
    .pad-container {
      padding: 0 100px;
      margin-top: 30px;
    }
    .section-title {
      font-size: 22px;
    }
    .section-title-a {
      padding: 30px 100px 20px;
      font-size: 27px;
    }
    .title-name {
      font-size: 47px !important;
    }
    .title-alternative {
      font-size: 30px;
    }
    .text-e {
      padding: 0 100px;
      font-size: 20px;
    }
    .response {
      padding: 0 100px;
      font-size: 20px;
      li {
        font-size: 20px;
      }
    }
    .subtitle2 {
      font-size: 20px;
      padding: 0 100px;
    }
    .image-text {
      padding: 0 100px 40px;
    }
    .text-column-p {
      padding: 0 100px;
    }
    .text-app-description {
      padding: 0 100px;
      font-size: 22px;
    }
    .guidance {
      padding: 3rem 100px;
      height: 120px;
      width: 300px;
    }
    .personas {
      padding: 0 100px;
      .persona {
        width: 430px;
      }
    }
    .story-board {
      width: 430px;
    }
    .card-sort {
      width: 430px;
    }

    .quote {
      height: 240px;
      font-size: 17px;
      p {
        padding: -0 25%;
      }
    }
    .line {
      padding: 0;
    }
    .image-text-horizontal {
      padding: 0 100px;
      .text-i {
        font-size: 20px;
        color: #6c6c6c;
        text-align: justify;
        margin: 20px 0;
      }
    }
  }
}

@media screen and (min-device-width: 600px) and (max-device-width: 700px) {
  .body {
    .pad-container {
      padding: 0 50px;
      margin-top: 30px;
    }
    .title-name {
      font-size: 45px !important;
    }
    .title-alternative {
      font-size: 30px !important;
    }
    .section-title {
      font-size: 22px;
    }
    .section-title-a {
      padding: 30px 50px 20px;
      font-size: 27px;
    }
    .text-e {
      padding: 0 50px;
      font-size: 16px;
    }
    .image-text {
      padding: 0 50px 40px;
    }
    .response {
      font-weight: 200;
      font-size: 16px;
      color: #6c6c6c;
      padding: 0 50px;
      text-align: justify;
      margin: 0 !important;
    }
    .text-column-p {
      padding: 0 50px;
    }
    .text-app-description {
      padding: 0 50px;
      font-size: 20px;
    }
    .guidance {
      padding: 3rem 50px;
      height: 120px;
      width: 300px;
    }
    .personas {
      padding: 0 50px;
      .persona {
        width: 85% !important;
      }
      .cont {
        font-size: 16px;
      }
    }
    .story-board {
      width: 85%;
    }
    .card-sort {
      width: 85%;
    }

    .stars .star {
      width: 2rem;
    }
    .quote {
      width: 270px;
      margin: 0;
      font-size: 16px;
      align-self: center;
      p {
        padding: 0px 10%;
      }
    }
    .response {
      li {
        font-size: 16px;
      }
    }
    .subtitle2 {
      font-size: 18px;
      padding: 0 50px;
    }
    .line {
      padding: 0;
    }
    .image-text-horizontal {
      padding: 0 50px;
      .text-i {
        font-size: 16px;
        color: #6c6c6c;
        text-align: justify;
        margin: 20px 0;
      }
    }
  }
}

@media screen and (min-device-width: 500px) and (max-device-width: 600px) {
  .body {
    .title-name {
      font-size: 38px !important;
    }
    .title-alternative {
      font-size: 32px;
    }
    .pad-container {
      padding: 0 80px;
      margin-top: 30px;
    }
    .section-title {
      font-size: 14px;
    }
    .section-title-a {
      padding: 30px 80px 20px;
      font-size: 27px;
    }
    .text-e {
      padding: 0 80px;
      font-size: 16px;
    }
    .image-text {
      padding: 0 80px 40px;
    }
    .text-column-p {
      padding: 0 80px;
    }
    .text-app-description {
      padding: 0 80px;
      font-size: 22px;
    }
    .guidance {
      padding: 3rem 80px;
      height: 120px;
      width: 300px;
    }
    .subtitle2 {
      font-size: 16px;
      padding: 0 80px;
    }
    .personas {
      padding: 0 80px;
      .persona {
        width: 100%;
      }
      .cont {
        font-size: 16px;
      }
    }
    .stars .star {
      width: 2rem;
    }
    .quote {
      width: 250px;
      margin: 0;
      font-size: 16px;
      align-self: center;
      p {
        padding: 0px 15%;
      }
    }
    .response {
      padding: 0 80px;
      font-size: 16px;
      li {
        font-size: 16px;
      }
    }
    .story-board {
      width: 380px;
    }
    .card-sort {
      width: 380px;
    }

    .line {
      padding: 0;
    }
    .image-text-horizontal {
      padding: 0 80px;
      .text-i {
        font-size: 16px;
        color: #6c6c6c;
        text-align: justify;
        margin: 20px 0;
      }
    }
  }
}

@media screen and (min-device-width: 400px) and (max-device-width: 500px) {
  .body {
    .title-name {
      font-size: 38px !important;
    }
    .title-alternative {
      font-size: 32px;
    }
    .pad-container {
      padding: 0 80px;
      margin-top: 15px;
    }
    .section-title {
      font-size: 20px;
    }
    .section-title-a {
      padding: 30px 80px 20px;
      font-size: 25px;
    }
    .text-e {
      padding: 0 80px;
      font-size: 14px;
    }
    .image-text {
      padding: 0 80px 40px;
    }
    .text-column-p {
      padding: 0 80px;
    }
    .text-app-description {
      padding: 0 80px;
      font-size: 18px;
    }
    .guidance {
      padding: 3rem 80px;
      height: 90px;
      width: 200px;
    }
    .subtitle2 {
      font-size: 14px;
      padding: 0 80px;
    }
    .personas {
      padding: 0 80px;
      .persona {
        width: 100%;
      }
      .cont {
        font-size: 14px;
      }
    }
    .stars .star {
      width: 2rem;
    }
    .quote {
      width: 250px;
      margin: 0;
      font-size: 14px;
      align-self: center;
      p {
        padding: 0px 10%;
      }
    }
    .response {
      padding: 0 80px;
      font-size: 14px;
      li {
        font-size: 14px;
      }
    }
    .story-board {
      width: 240px;
    }
    .card-sort {
      width: 240px;
    }

    .line {
      padding: 0;
    }
    .image-text-horizontal {
      padding: 0 80px;
      .text-i {
        font-size: 14px;
        color: #6c6c6c;
        text-align: justify;
        margin: 20px 0;
      }
    }
    ul {
      padding-inline-start: 10px;
    }
  }
}

@media screen and (min-device-width: 319.5px) and (max-device-width: 400px) {
  .body {
    .title-name {
      font-size: 30px !important;
    }
    .title-alternative {
      font-size: 23px;
      padding: 0 50px;
    }
    .banner {
      padding: 1rem 0;
    }
    .pad-container {
      padding: 0 50px;
      margin-top: 15px;
    }
    .section-title {
      font-size: 20px;
    }
    .section-title-a {
      padding: 30px 50px 20px;
      font-size: 24px;
    }
    .text-e {
      padding: 0 50px;
      font-size: 14px;
    }
    .image-text {
      padding: 0 80px 40px;
    }
    .text-column-p {
      padding: 0 50px;
    }
    .text-app-description {
      padding: 0 50px;
      font-size: 18px;
    }
    .guidance {
      padding: 3rem 50px;
      height: 90px;
      width: 200px;
    }
    .subtitle2 {
      font-size: 14px;
      padding: 0 50px;
    }
    .personas {
      padding: 0 50px;
      .persona {
        width: 100%;
      }
      .cont {
        font-size: 14px;
      }
      .smaller-image {
        width: 75%;
      }
    }
    .stars .star {
      width: 2rem;
    }
    .quote {
      width: 240px;
      margin: 0;
      font-size: 14px;
      align-self: center;
      p {
        padding: 0px 10%;
      }
    }
    .response {
      padding: 0 50px;
      font-size: 14px;
      li {
        font-size: 14px;
      }
    }
    .story-board {
      width: 220px;
    }
    .card-sort {
      width: 220px;
    }

    .line {
      padding: 0;
    }
    .image-text-horizontal {
      padding: 0 50px;
      .text-i {
        font-size: 14px;
        color: #6c6c6c;

        margin: 20px 0;
      }
    }
    ul {
      padding-inline-start: 10px;
    }
  }
}
