.header-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 80px 0 80px;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */

  // padding: 10% 10% 0 10%;
  .image {
    flex-grow: 2;
    .logo {
      cursor: pointer;
      display: block;
      align-self: start;
      width: 150px;
      height: 150px;
      background: url(../../assets/logo.svg);
      background-size: 150px 150px;
    }
  }
  .menu {
    float: right;
    display: flex;
    flex-grow: 2;
    justify-content: space-evenly;
    padding-top: 30px;
    flex-direction: row;
    font-family: "Nunito", sans-serif;
    .portfolio {
      font-family: "Nunito", sans-serif;
      font-weight: 500;
      color: #23aa8f;
      text-decoration: none;
      background-color: transparent;
      font-size: 18px;
      border: none;
      cursor: pointer;
      &:focus {
        outline: transparent;
      }
      &:active {
        outline: transparent;
      }
    }

    :visited {
      text-decoration: underline;
      color: #86d780;
    }
    :hover {
      text-decoration: underline;
      color: #86d780;
    }
    .aboutme {
      font-family: "Nunito", sans-serif;
      font-weight: 6500;
      color: #23aa8f;
      background-color: transparent;
      font-size: 18px;
      border: none;
      cursor: pointer;
      &:focus {
        outline: transparent;
      }
      &:active {
        outline: transparent;
      }
    }
    [aria-pressed="true"] {
      color: #86d780;
    }
    :hover {
      text-decoration: underline;
      color: #86d780;
    }
  }
}

@media screen and (min-device-width: 600px) and (max-device-width: 768px) {
  .header-container {
    padding: 20px 80px 0 50px;
    .logo {
      width: 100px;
      height: 100px;
      background-size: 100px 100px;
    }

    .menu {
      flex-direction: row;
      .portfolio {
        font-size: 16px;
      }
      .aboutme {
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-device-width: 480px) and (max-device-width: 600px) {
  .header-container {
    padding: 20px 30px;
    .logo {
      width: 70px;
      height: 70px;
      background-size: 70px 70px;
    }
    .menu {
      flex-direction: row;
      .portfolio {
        font-size: 16px;
      }
      .aboutme {
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-device-width: 380px) and (max-device-width: 480px) {
  .header-container {
    padding: 20px 50px;
    .logo {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
    }

    .menu {
      flex-direction: row;
      padding-top: 0;
      .tabs {
        display: flex;
        align-self: center;
      }
      .portfolio {
        font-size: 14px;
      }
      .aboutme {
        font-size: 14px;
      }
    }
    .buttons {
      padding-top: 0;
    }
  }
}

@media screen and (max-device-width: 465px) and (min-device-width: 380px) {
  .header-container {
    .logo {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
    }
    .menu {
      padding-top: 0;
      flex-direction: column;
      justify-content: space-around;
      .tabs {
        display: flex;
        align-self: flex-end;
      }
      .portfolio {
        font-size: 12px;
      }
      .aboutme {
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 380px) {
  .header-container {
    .logo {
      width: 50px;
      height: 50px;
      background-size: 50px 50px;
    }
    padding: 20px 40px;
    .menu {
      padding-top: 0;
      flex-direction: column;
      justify-content: space-around;
      .tabs {
        display: flex;
        align-self: flex-end;
      }
      .portfolio {
        font-size: 12px;
      }
      .aboutme {
        font-size: 12px;
      }
    }
  }
}
