$scrollLength: 100vh;
@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}
.king-container {
  .homepage {
    height: 100vh;
    animation: expand 0.8s ease forwards;
    background-color: #fff;
    position: relative;
    transition: all 0.8s ease;
    overflow: auto;

    .back-to-top-wrapper {
      // uncomment to visualize "track"
      // outline: 1px solid red;
      position: absolute;
      top: $scrollLength;
      right: 0.25rem;
      bottom: -5em;
      width: 3em;
      pointer-events: none;
    }

    .back-to-top-link {
      // `fixed` is fallback
      position: fixed;
      // preferred positioning, requires prefixing for most support, and not supported on Safari
      // @link https://caniuse.com/#search=position%3A%20sticky
      position: sticky;
      // reinstate clicks
      pointer-events: all;
      // achieves desired positioning within the viewport
      // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
      top: calc(100vh - 5rem);
      // basic styling
      display: inline-block;
      text-decoration: none;
      font-size: 2rem;
      line-height: 3rem;
      text-align: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      padding: 0.25rem;

      // "pretty" styles, including states
      transition: transform 80ms ease-in;

      &:hover,
      &:focus {
        transform: scale(1.1);
      }
      &:focus {
        outline: none;
      }
    }

    .body {
      //align-items: center;
      display: flex;
      flex-direction: column;
      padding: 40px 50px;

      .arrowdown {
        margin-top: 20px;
        height: 24px;
      }
      .gabs {
        text-decoration: none;
        pointer-events: none;
        align-self: center;
        color: #86d780;
        font-weight: 400;
        font-size: 65px;
        font-family: "MuseoModerno";
      }
      .title-surname {
        color: #3a5a6b;
        font-weight: 400;
        font-size: 65px;
        font-family: "MuseoModerno", cursive;
        margin: 0;
        text-align: center;
      }
      .bio-homepage {
        float: right;
        padding: 20px 50px;
        font-size: 30px;
        // font-family: 'Raleway';
        .text {
          color: #6c6c6c;
          font-weight: 200;
          text-align: center;
        }
        .name {
          color: #86d780;
          font-weight: 800;
          text-decoration: none;
          pointer-events: none;
        }
        .emphasis {
          color: #23aa8f;
          font-weight: 600;
          text-decoration: none;
          pointer-events: none;
        }
      }
    }
    .case-studies {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: 0 2rem 5rem;
      transform: translateX(200px);
      -webkit-transform: translateX(200px);
      -o-transform: translateX(200px);
      -moz-transform: translateX(200px);

      .label-title {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-family: "MuseoModerno";
      }

      &__image {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 250px;
        height: 250px;

        border-radius: 50%;
        background-size: cover;
        transition: ease-in-out 0.3s;

        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;

        z-index: 2;
        &:before {
          content: " ";
          position: absolute;

          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;

          background: inherit;
          background-position: bottom;
          filter: blur(40px) saturate(0%);
          //transform: scaleX(0.4);
          transition: ease-in-out 0.4s;
          border-radius: 120px;
          transform-origin: right;
          opacity: 0;

          z-index: -1;
        }

        .info-container {
          display: flex;
          flex-direction: column;
          align-content: space-between;
          //transition: ease-in-out 0.3s;
          .case-studies__info {
            position: relative;
            padding: 0;
            margin: 0%;
            //line-height: 1.8;
            //transition: ease-in-out 0.3s;
            //opacity: 1;

            .subtitle-info {
              font-size: 25px;
              color: #3a5a6b;
              font-weight: 400;
              padding: 15% 3rem 0;
              margin: 0%;
            }
            .case-studies__b {
              border: 1px solid #3a5a6b;
              display: flex;
              justify-content: center;
              margin: 5% 3rem;
              width: 60%;
              .button-text {
                font-size: 1.2rem;
                color: #3a5a6b;
                font-weight: 400;
                margin: 3% 0;
              }
            }
          }

          .case-studies__location {
            transition-delay: 0.15s;
            padding: 0%;
            margin: 0%;
            width: max-content;
          }
        }
        &:before {
          width: 100%;
          opacity: 0.18;
          filter: blur(10px) saturate(100%);
          transform: scale(2.8);
        }

        .case-studies__info {
          transform: translate3d(-100%, 0px, 0px);
          opacity: 1;
        }
        &:hover {
        }
      }
    }
    .buttons-homepage {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .button-a {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 24px;
        color: #007882;
        width: 250px;
        height: 50px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border: 1px solid #007882;
        background-color: transparent;
        cursor: pointer;
        margin: 20px;
        &:focus {
          outline: transparent;
        }
        &:hover {
          cursor: pointer;
          border: 1px solid #86d780;
          color: #86d780;
        }
        .icon {
          margin: 0;
          padding: 0;
          display: block;
          align-self: center;
          width: 20px;
          height: 20px;
          background: url(../../assets/linkedin.svg);
          background-size: 20px 20px;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: #86d780;
    //background-color: #007882;
  }
  @keyframes expand {
    0% {
      transform: translateX(2100px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (min-device-width: 1200px) {
  .king-container {
    .homepage {
      .buttons-homepage {
        .button-a {
          height: 60px;
          width: -moz-fit-content;
          width: 250px;
        }
      }
    }
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
  .king-container {
    .homepage {
      .buttons-homepage {
        .button-a {
          width: 280px;
        }
      }
    }
  }
}

@media screen and (min-device-width: 920px) and (max-device-width: 1024px) {
  .king-container {
    .homepage {
      .body {
        .gabs {
          font-size: 45px;
        }
        .title-surname {
          font-size: 45px;
        }
        .bio-homepage {
          .text {
            font-size: 25px;
          }
        }
      }
      .buttons-homepage {
        padding: 0 200px;
        .button-a {
          font-size: 20px;
        }
      }
    }
  }
}
@media screen and (min-device-width: 820px) and (max-device-width: 920px) {
  .king-container {
    .homepage {
      .body {
        .gabs {
          font-size: 45px;
        }
        .title-surname {
          font-size: 45px;
        }
        .bio-homepage {
          .text {
            font-size: 25px;
          }
        }
      }
      .buttons-homepage {
        padding: 0 200px;
        .button-a {
          font-size: 20px;
        }
      }
    }
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 820px) {
  .king-container {
    .homepage {
      .body {
        .title-surname {
          font-size: 40px;
          .gabs {
            font-size: 40px;
          }
        }
        .bio-homepage {
          .text {
            font-size: 20px;
          }
        }
      }
      .buttons-homepage {
        padding: 0 200px;
        .button-a {
          font-size: 20px;
        }
      }
    }
  }
}
@media screen and (min-device-width: 600px) and (max-device-width: 768px) {
  .king-container {
    .homepage {
      .body {
        .title-surname {
          font-size: 35px;
          .gabs {
            font-size: 35px;
          }
        }
        .bio-homepage {
          .text {
            font-size: 20px;
          }
        }
      }
      .buttons-homepage {
        padding: 0 200px;
        .button-a {
          font-size: 20px;
        }
      }
    }
  }
}
@media screen and (min-device-width: 450px) and (max-device-width: 600px) {
  .king-container {
    .homepage {
      .body {
        padding: 40px 0 0;
        .title-surname {
          font-size: 35px;
          padding: 0 4rem;
          .gabs {
            font-size: 35px;
          }
        }
        .bio-homepage {
          .text {
            font-size: 20px;
          }
        }
      }
      .buttons-homepage {
        .button-a {
          font-size: 20px;
          margin: 0;
        }
      }
    }
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 450px) {
  .king-container {
    .homepage {
      .body {
        padding: 40px 0 0;
        .title-surname {
          font-size: 25px;
          padding: 0 4rem;
          .gabs {
            font-size: 25px;
          }
        }
        .bio-homepage {
          .text {
            font-size: 16px;
            text-align: left;
          }
        }
      }
      .buttons-homepage {
        .button-a {
          font-size: 16px;
          margin: 0;
          width: 40%;
        }
      }
    }
  }
}
