.left-info {
  line-height: 1.8;
  left: 120px;
  padding: 0 2rem 5rem;
  .subtitle-info {
    font-size: 25px;
    color: #3a5a6b;
    font-weight: 400;
    padding: 15% 3rem 0;
    margin: 0%;
  }
  .case-studies__b {
    border: 1px solid #3a5a6b;
    display: flex;
    justify-content: center;
    margin: 5% 3rem;
    width: 60%;
    .button-text {
      font-size: 1.2rem;
      color: #3a5a6b;
      font-weight: 400;
      margin: 3% 0;
    }
  }
}
.right-info {
  .case-studies__image {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.contact {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contact-title {
    font-size: 35px;
    color: #6c6c6c;
    font-weight: 700;
    padding: 20px 0;
  }
  .contact-subtitle {
    font-size: 25px;
    color: #6c6c6c;
    padding-bottom: 0.5rem;
  }
  .email {
    color: #007882;
    font-size: 25px;
  }
}

/** MEDIA QUERIES **/

@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .left-info {
    left: 90px;
    .case-studies__b .button-text {
      font-size: 1rem;
    }
  }
}
@media screen and (min-device-width: 576px) and (max-device-width: 768px) {
  .left-info {
    left: 0px;
    position: relative;
    .case-studies__b {
      width: 190px;
      margin-right: 0;
      margin-left: 0;
      position: absolute;
      transform: translateY(290%);
      .button-text {
        font-size: 1rem;
      }
    }
    .subtitle-info {
      padding: 0;
      position: absolute;
      transform: translateY(50%);
    }
  }

  .right-info {
    width: 200px !important;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 576px) {
  .left-info {
    display: none;
  }

  .right-info {
    width: 150px !important;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }
}
